.container {
  margin: 0;
  padding: 0;
  width: 100%;

  .page-content {
    margin: 0px 8%;
  }
}

.center{
  display: table;
  margin: 0 auto;
}

.title {
  margin: 0;
  text-align: center;

  h1 {
    font-size: 2.5vw;
    margin: 0;
    margin: 40px 0;
  }
}
