<div class="container">
  <div class="question">
    <div class="col-md-2">
      <div style="width: 100%;">
        <h1 style="margin-top: 46px; text-align: center; font-size: 2.5vw;">999</h1>
        <hr>
        <p style="text-align: center">answers</p>

      </div>
    </div>
    <div class="col-md-10">
      <div class="title">
        <h5>how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors? how to fix stack overflow errors?</h5>
      </div>
      <div class="question-content">
        Lorem ipsum dolor sit ametssdsd sdsd sdsdsd sdsdsdsdsd sdsd sdsd sd sd sd s d sd sdsdsdd sdsd sd sdsd ,
        consectetur adipiscing elit. Proin nisi ligula, dapibus a volutpat sit amet, mattis etc. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Proin nisi ligula, dapibus a volutpat sit amet, mattis etc.
      </div>
      <div>
        <div class="col-md-8">
          <div class="tags">
            <ul>
              <li>
                <app-tag [name]="'JavaScript'"></app-tag>
              </li>
              <li>
                <app-tag [name]="'HTML'"></app-tag>
              </li>
              <li>
                <app-tag [name]="'CSS'"></app-tag>
              </li>
              <li>
                <app-tag [name]="'C++'"></app-tag>
              </li>
              <li>
                <app-tag [name]="'Python'"></app-tag>
              </li>
              <li>
                <app-tag [name]="'Ardunio'"></app-tag>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <p>asked Jun 27 '12 at 13:51</p>
          <hr>
          <div class="col-md-5">
            <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg"
                 alt="Avatar"
                 style="width:70%; height: 42.5px">

          </div>
          <div class="col-md-7">
            <p>Nurlan Ilyasov</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



