<div class="container">
  <div class="page-content">
    <div class="col-md-6">
      <div class="cards">
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="cards">
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
      </div>
    </div>
  </div>
</div>
<app-paginator class="center" ></app-paginator>

