<div class="container">
  <div class="page-content">
    <div class="col-md-8">
      <div class="cards">
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="about">
        <div class="box">
          <h4 class="header">About Me</h4>
          <div class="image">
            <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="Avatar"
                 style="width:100%">
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>


      <div class="about">
        <div class="box">
          <h4 class="header">Find Me On</h4>
          <ul>
            <li><a>f</a></li>
            <li><a>f</a></li>
            <li><a>f</a></li>
            <li><a>f</a></li>
            <li><a>f</a></li>
            <li><a>f</a></li>
            <li><a>f</a></li>
          </ul>
        </div>
      </div>

      <div class="about">
        <div class="box">
          <h4 class="header">Tag Cloud</h4>
          <ul>
            <li><app-tag [name] = "'JavaScript'"></app-tag></li>
            <li><app-tag [name] = "'HTML'">></app-tag></li>
            <li><app-tag [name] = "'CSS'">></app-tag></li>
            <li><app-tag [name] = "'C++'">></app-tag></li>
            <li><app-tag [name] = "'Python'">></app-tag></li>
            <li><app-tag [name] = "'Ardunio'">></app-tag></li>
          </ul>
        </div>
      </div>

      <div class="about">
        <div class="box">
          <h4 class="header">Questions</h4>
          <div class="my-div">
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
          </div>
        </div>
      </div>


      <div class="about">
        <div class="box">
          <h4 class="header">Answers</h4>
          <div class="my-div">
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
            <a class="my-a" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>
            <a class="my-a" href="#">Lorem ipsum set dolor</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
