<div class="container">
  <div class="page-content">
    <div class="col-md-8">
      <div class="cards">
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
        <div class = "wrapper"><app-card></app-card></div>
      </div>
      <app-paginator class="center" ></app-paginator>
    </div>
    <div class="col-md-4">
      <app-info></app-info>
    </div>
  </div>
</div>
